/* Search Bar Styling */
.SearchForm form{
    text-align: center;
    margin: auto;
}
.SearchBox{
    padding: 10px;
    background: #c0c0c0;
}
.SearchBox input[type='text']{
    padding: 3px 5px;
    margin: 0px 5px;
    border: none;
    font-size: 0.9em;
}
.SearchBox button{
    padding: 3px 15px;
    border: none;
    font-size: 0.9em;
    background: white;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.SearchBox button:hover{
    cursor: pointer;
    background: gray;
    color: white;
    transition: background .2s ease, color 0.2s ease;
}
